.navbar {
    height: 80px;
    border-bottom: 2px solid rgb(4, 4, 76);
    position: fixed;
    background-color: white;
}

.site-header .navbar-nav .nav-link {
    color: rgb(4, 4, 76);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    
}
  
.site-header .navbar-nav .nav-link:hover {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.site-header .navbar-nav .nav-link.active {
    color: #480b12;
    border-bottom: 2px solid #480b12;
}

body {
    background: white;
    margin-top: 10rem;
  }

.user-box {
    width: 100%; 
    margin-bottom: 20px; 
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box; 
}

.user-box img {
    width: 100px;
    height: 100px; 
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.new-client-btn {
    background-color: rgb(4, 4, 76);
    color: white;
    border: none;
}

.new-client-btn:hover {
    background-color: #000;
    color: white;
}

.flash-message-container {
    margin-top: -100px;
  }
